@model SyllabusMaker.Models.CLO

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}


<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">CLO</a>
        </li>
        <li class="breadcrumb-item active">Add Learning Outcomes</li>

    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Add New Learning Outcomes
        </div>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Create", "CLO", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <h3 style="color:red;">@TempData["msg"]</h3>
            @Html.HiddenFor(model => model.CLOId, new { htmlAttributes = new { @class = "form-control" } })

            <div class="col-md-6">
                <div class="form-group">
                    @if (ViewBag.CourseList != null)
                    {
                        <div class="col-md-10">
                            <h6>Select Course Code</h6>
                            @Html.DropDownListFor(model => model.CourseId, ViewBag.CourseList as SelectList, "-- Select Course Code ---", new { @class = "form-control" })
                        </div>
                    }
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-group">

                    <div class="col-md-10">
                        <h6>Learning Outcome</h6>

                        @Html.EditorFor(model => model.Outcomes, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Outcomes, "", new { @class = "text-danger" })

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="col-md-10">
                    <a onclick="window.history.back();" class="btn btn-danger">Cancel</a>
                    <input type="submit" class="btn btn-success" value="Save" />

                </div>
            </div>
        }
    </div>
</div>

