@model List<SyllabusMaker.Models.CLO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}



<div class="container-fluid">
    <!-- Breadcrumbs-->

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Learning Outcomes</li>

    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-book-open"></i>
            All Course Learning Outcomes Details
            <a href="@( Url.Action("Create", "CLO") )" class="btn btn-info pull-right fa fa-plus">Add New Learning Outcome</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-condensed table-hover table-bordered table-striped table" id="dataTable" width="100%" cellspacing="0">
                    <thead>


                        <tr>

                            <th>Serial No.</th>
                            <th>Course Code</th>
                            <th>Course Title</th>
                            <th>Learning Outcomes</th>

                            <th>Action</th>

                        </tr>


                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {


                            <tr>
                                <td>@(Model.IndexOf(item)+1)</td>

                                <td>@item.Course.CourseCode</td>
                                <td>@item.Course.Title</td>
                                <td>@item.Outcomes</td>


                                <td>
                                    <a href="@Url.Action("Edit", "CourseObjectives", new { id = item.CLOId})" class="btn btn-info">Edit</a>
                                    <a href="@Url.Action("Delete", "CourseObjectives", new { id = item.CLOId})" class="btn btn-danger">Delete</a>
                                </td>



                            </tr>




                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
