@model List<SyllabusMaker.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="container-fluid">
    <!-- Breadcrumbs-->

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@( Url.Action("Index", "Dashboard") )">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Resources</li>

    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-book-open"></i>
            All Course Details
            <a href="@( Url.Action("Create", "Resource") )" class="btn btn-info pull-right fa fa-plus">Add New Course</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-condensed table-hover table-bordered table-striped table" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        

                        <tr>

                            <th>Serial No.</th>
                            <th>Course Code</th>
                            
                            <th>Book Type</th>
                            <th>Name</th>
                            <th>Action</th>

                         

                        </tr>


                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {


                            <tr>
                                <td>@(Model.IndexOf(item)+1)</td>

                                <td>@item.Course.CourseCode</td>
                                <td>@item.BookType.Type</td>
                                <td>@item.BookName</td>
              
                                @*<td><a href="@Url.Content(item.ImageURL)" target="_blank"><img src="@Url.Content(item.ImageURL)" style="width:100px; height:67px;" /></a></td>*@
                                <td>
                                    <a href="@Url.Action("Edit", "Resource", new { id = item.CourseId})" class="btn btn-info">Edit</a>
                                    <a href="@Url.Action("Delete", "Resource", new { id = item.CourseId})" class="btn btn-danger">Delete</a>
                                </td>



                            </tr>




                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>


